<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jqh.liblive">
    <!-- 音频录制权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 读取和写入存储权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity android:name="com.jqh.livescreen.LiveScreenActivity"></activity>
        <activity android:name="com.jqh.record.RecordMainActivity" />
    </application>

</manifest>